.blog-card {
  /* border: 1px solid #ccc; */
  border: 1px solid #000000;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  height: 290px;
  justify-items: center;
  overflow: hidden;  /* Prevent overflow */
}

.blog-card:hover {
  transform: translateY(-2px);
  /* box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); */
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
}

.blog-card h3 {
  margin: 0 0 10px;
  font-size: 15px;
  text-decoration: none;
}

.blog-card-title {
  color: #000;
}

.blog-card p {
  color: #020202;
  justify-items: left;
  font-size: 14px;
}

.blog-card-image {
  width: 330px;  /* Set width to 100% of the card's width */
  height: 200px;  /* Set a fixed height */
  object-fit: cover;  /* Ensure the image covers the box without distorting */
  border-radius: 10px;
  margin-bottom: 10px;
}

