
.blog-page {
    display: flex;
    overflow: hidden;
  }
  
  .blog-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    margin-left: 320px;
  }
  
  .blog-grid > div {
    flex: 1;
  }

.navbar {
  position: fixed; 
  top: 0;
  left: 0;
  bottom: 0;
}

@media (min-width: 769px) {
  .blog-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .blog-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}