.navbar {
    width: 280px;
    padding: 20px;
    background-color: #0a090a;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar li {
    margin: 10px 0;
  }
  
  .navbar a {
    text-decoration: none;
    color: #fceeee;
    font-weight: bold;
    transition: color 0.2s;
  }
  
  .navbar a:hover {
    color: #007BFF;
  }
  
  
/* Navbar.css */

/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
} */

.navbar-brand a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.menu-toggle {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    gap: 0;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    text-align: center;
    padding: 1rem 0;
  }
}
